* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Hind, sans-serif;
  transition: all 0.15s;
}

/* start header */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
header a {
  color: white;
}
header .navbar .nav-item.active a {
  color: #35a22c;
  margin-right: 10px;
}
header .navbar .nav-item a {
  position: relative;
}
header .navbar .nav-item a:hover {
  color: #35a22c;
}
header .navbar .nav-item a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: #35a22c;
  transition: 0.5s;
}
header .navbar .nav-item a:hover::before,
header .navbar .nav-item.active a::before {
  width: 100%;
}
.navbar-brand {
  font-size: 2rem;
}
.navbar-brand:hover {
  color: white;
}
.navbar-brand i {
  color: #35a22c;
  font-size: 3rem;
}

.navbar-toggler {
  background-color: #35a22c;
}

.navbar-toggler-icon {
  color: rgb(185, 185, 185);
  display: flex;
  align-items: center;
  justify-content: center;
}
/* end header */
/* start carousel */
#carousel .carousel-item .item-bg {
  height: 100vh;
  min-height: 500px;
  object-fit: cover;
}
.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.carousel-caption img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.carousel-caption {
  bottom: 50%;
  transform: translateY(50%);
}
.carousel-caption p {
  font-size: 24px;
}
.carousel-item {
  position: relative;
}
.carousel-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(39, 43, 54, 0.5);
}
/* animate css ~ https://animate.style */
.animate__animated.animate__slideInUp {
  --animate-duration: 1s;
}

.carousel-caption h5 {
  font-size: 56px;
  line-height: 65px;
}

.carousel-indicators li.active {
  background-color: #35a22c;
}
.carousel-indicators {
  bottom: 50px;
}
/* end carousel */

/* start project */
.project__item {
  text-align: center;
}
.project__item h2 {
  font-size: 36px;
  line-height: 42px;
  color: #1a1d2d;
  font-weight: 600;
}
.project__item p {
  color: #585858;
  line-height: 24px;
}
#project .nav {
  justify-content: center;
}
#project .card {
  border-radius: 16px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: none;
}
#project .card-body {
  border: 1px solid transparent;
  border-top: transparent;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  transition: 0.3s;
}
#project .card:hover .card-body {
  border-color: #35a22c;
}
#project .card:hover .card-body .card-title {
  color: #35a22c;
}
#project .nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #35a22c;
  border: none;
  color: white;
}

#project .nav-pills .nav-link {
  color: #1a1d2d;
  border: 1px solid black;
  margin: 5px;
}
/* end project */

/* start skill */

#skill {
  position: relative;
  background-image: url(./image/3.jpg);

  min-height: 500px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#skill::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}
#skill {
  z-index: 1;
}

.skill__header {
  color: white;
}
.skill__item .card {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(3.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: white;
  transition: 0.5s;
}
.skill__item .card:hover {
  background-color: black;
  border-color: white;
}
.skill__item i {
  font-size: 3rem;
  color: #35a22c;
  margin-top: 20px;
}

.skill__item h5 {
  margin: 30px 0;
}
/* end skill */

/* start archivement */
#archivement {
  position: relative;
}
#archivement::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-image: url(./image/memphis_3.png);
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 50% auto;
  opacity: 0.5;
}
.archivement__card {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 25px;
  border-radius: 10px;
  backdrop-filter: blur(5px);
}
.archivement__card h2 {
  font-size: 36px;
  font-weight: 700;
}
#archivement p {
  color: #585858;
}
.logo__list img {
  max-width: 100%;
}
/* end archivement */

/* start footer */
#footer {
  background-color: #222;
  color: rgb(170, 170, 170);
  text-align: center;
}
.social_media {
  width: 100%;
  transition: 0.5s;
}
.social_media i {
  width: 42px;
  height: 42px;
  line-height: 42px;
  border-radius: 50%;
  border: 1px solid #454545;
  margin: 0 5px 30px 5px;
  transition: 0.5s;
}
.social_media i:hover {
  color: #35a22c;
  border-color: #35a22c;
}
.copyrights p {
  border-top: 1px solid #454545;
  padding-top: 30px;
  margin-bottom: 0;
}

/* end footer */
/* responsive */
@media screen and (max-width: 998px) {
  header .navbar .nav-item.active a {
    margin-right: 0;
  }
  header .navbar .nav-item a {
    background-color: white;
    color: #35a22c;
    padding-left: 10px;
    transition: 0.15s;
  }
  header .navbar .nav-item a:hover {
    background-color: #35a22c;
    color: white;
  }
  header .navbar .nav-item a::before {
    visibility: hidden;
  }

  .carousel-caption h5 {
    margin-top: 20px;
    font-size: 40px;
    line-height: 40px;
  }
  .carousel-caption p {
    font-size: 20px;
  }
  .carousel-caption {
    left: 0;
    right: 0;
  }
}

@media screen and (max-width: 414px) {
  .carousel-caption h5 {
    margin-top: 20px;
    font-size: 35px;
    line-height: 40px;
  }
  .carousel-caption p {
    font-size: 20px;
  }
  .carousel-caption {
    left: 0;
    right: 0;
  }
}
