* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.3s;
}
body {
  background-color: lightyellow;
}
.tab {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  background-color: white;
  border-radius: 10px;
  padding: 10px 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.question h5 {
  line-height: 30px;
  margin: 0;
}

.plus i {
  font-size: 16px;
  text-align: center;
  transition: transform 0.5s;
  cursor: pointer;
}

.plus:hover i {
  transform: rotate(90deg);
}
.fa-minus-square,
.answer {
  display: none;
}

.show-text .answer {
  border-top: 1px solid rgba(128, 128, 128, 0.507);
  display: block;
}
.show-text .fa-minus-square {
  display: block;
}
.show-text .fa-plus-square {
  display: none;
}
