h2 {
  color: red;
  background-color: lightgreen;
}

#title {
  color: blueviolet;
}
.content {
  background-color: lightsalmon;
}
h2#special {
    color: blue;
}
.footer .content {
    background-color: lightseagreen;
}
#btn{
    border: none;
    padding: 15px 30px 15px 30px;
    border-radius: 15px;
    font-size: 20px;
    font-weight: bold;
    background-color:rgb(31, 115, 144) ;
    color: white;
    transition: opacity 0.15s;
}
#btn:hover{
    opacity: 0.8;
}
#btn:active{
    opacity: 0.6;
}