* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #faf4f2;
}

.clear {
  clear: both;
}

/* header start */
.header {
  background-color: #f8e1db;
  padding: 20px 80px;
}

.header .nav {
  list-style: none;
  margin-top: 10px;
}

.header li {
  display: inline;
  margin-right: 30px;
}

.header li a {
  color: black;
  text-decoration: none;
  font-size: 18px;
}
.header img {
  margin: auto;
}

/* header end */

/* carousel start */
.carousel {
  background-image: url(./Image/BG.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 70vh;
}

/* carousel end */

/* activities start */
.activities {
  text-align: center;
  padding: 80px 0px;
  background-color: #faf4f2;
}

.activities__title p {
  color: #8c8c8c;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.activities__item {
  padding: 15px;
  width: 25%;
  float: left;
  border-radius: 16px;
}

.item__img {
  border-radius: 16px;
  overflow: hidden;
  height: 200px;
  position: relative;
  margin-bottom: 20px;
}

.item__img img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.item__img .heart {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 8px;
}

.item__img .heart i {
  color: #e76f51;
  line-height: 50px;
}

.item__desc p {
  margin: 15px 0px;
  font-size: 18px;
  color: #8d8d8d;
}

.item__desc button {
  width: 160px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: #e8e8e8;
  color: #8d8d8d;
  margin-top: 20px;
}

.item__container {
  padding: 40px;
  background-color: white;
  border-radius: 16px;
  width: 100%;
  height: 100%;
}

.activities .btn {
  background-color: transparent;
  width: 200px;
  height: 40px;
  border: 1px solid #e76f51;
  border-radius: 20px;
  color: #e76f51;
  margin-top: 20px;
}

/* activities end */

/* contact start */
.contact {
  background-image: url(./Image/mask.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: -400px;
  background-color: #f8e1db;
  height: 400px;
  border-bottom-right-radius: 16px;
  border-top-right-radius: 16px;
}

.contact__logo {
  width: 50%;
  padding: 20px 80px;
  height: 100%;
  float: left;
}

.contact__info {
  color: #8c8c8c;
  padding-top: 70px;
  padding-right: 60px;
}
.contact__info h2 {
  font-size: 28px;
  margin-bottom: 10px;
}
.contact__info p {
  margin-bottom: 30px;
}
.contact__info .follow,
.contact__info .download {
  float: left;
}
.contact__info h3 {
  margin-bottom: 20px;
}
.follow i {
  color: #e76f51;
  font-size: 26px;
  margin-right: 10px;
}

/* contact end */
/* footer start */
.footer {
  margin-top: 100px;
  background-color: #f8e1db;
  padding: 100px 50px 50px 50px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  height: 400px;
  color: #3a3735;
}
.footer__list,
.footer__info {
  float: left;
  line-height: 30px;
}
.footer__info {
  width: 40%;
  padding-right: 40px;
}
.footer__list {
  width: 20%;
}
.footer__list ul {
  list-style: none;
}
.footer__list h3 {
  margin-bottom: 15px;
}
.copyrights {
  text-align: center;
  margin-top: 40px;
}
/* footer end */
