* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../image/bg-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 100vh;
}

#music_player .container {
  /* From https://css.glass */
  background: rgba(134, 134, 134, 0.164);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(13.6px);
  -webkit-backdrop-filter: blur(13.6px);
  border: 1px solid rgba(126, 61, 86, 0.192);
  width: 420px;
  color: white;
}

#music_player .thumbnail {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 38px, rgba(0, 0, 0, 0.22) 0px 0px 12px;
}
#music_player.playing .thumbnail {
  animation: spin 10s linear infinite;
}
#music_player .nowPlaying {
  text-shadow: rgb(0, 0, 0) 1px 0 10px;
}
#music_player .songName {
  font-weight: 500;
  font-size: 2em;
  text-shadow: rgb(0, 0, 0) 1px 0 10px;
}
#music_player .artist {
  font-weight: 300;
  font-size: 1em;
  text-shadow: rgb(0, 0, 0) 1px 0 10px;
}
#music_player .volume,
#music_player .timer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#music_player .volume {
  display: flex;
  justify-content: center;
  align-items: center;
}

#music_player .button_row .row {
  align-items: center;
  text-align: center;
}
#music_player .button_row i {
  cursor: pointer;
  transition: 0.3s;
}

#music_player .button_row .btn-play i {
  font-size: 36px;
}

#music_player .btn-random.active i,
#music_player .btn-loop.active i {
  color: black;
  text-shadow: rgb(255, 255, 255) 1px 0 10px;
}

#music_player .button_row i:hover {
  text-shadow: rgb(255, 255, 255) 1px 0 10px;
}
#music_player .btn-random,
#music_player .btn-loop {
  font-size: 20px;
}

#music_player.playing .btn-play .fa-pause,
#music_player .btn-play .fa-play {
  display: contents;
}

#music_player.playing .btn-play .fa-play,
#music_player .btn-play .fa-pause {
  display: none;
}

/* Slider style */
#music_player .volumeBar {
  width: 30%;
  height: 5px;
  background-color: white;
}
#music_player .timeSlider {
  width: 60%;
  height: 5px;
  background-color: white;
}
/* Reset slider style */
/*Thiết lập style cho range slider*/
#music_player .volumeBar,
#music_player .timeSlider {
  -webkit-appearance: none;
  height: 5px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.5);
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}
#music_player .timeSlider {
  width: 60%;
}
#music_player .volumeBar {
  width: 30%;
}
/*Thiết kế phần để kéo trượt trong rangerslider -- dùng -webkit- để chạy trên Chrome, Opera, Safari, Edge*/
#music_player .timeSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 15px;
  border-radius: 5px;
  background: rgb(255, 255, 255);
  cursor: pointer;
}
/*-moz- dùng để thiết kế rangerslider trên firefox*/
#music_player .timeSlider::-moz-range-thumb {
  width: 10px;
  height: 15px;
  border-radius: 5px;
  background: rgb(255, 255, 255);
  cursor: pointer;
}

#music_player .volumeBar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgb(255, 255, 255);
  cursor: pointer;
}
/*-moz- dùng để thiết kế rangerslider trên firefox*/
#music_player .volumeBar::-moz-range-thumb {
  width: 10px;
  height: 15px;
  border-radius: 5px;
  background: rgb(255, 255, 255);
  cursor: pointer;
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
