#loading {
  background-color: rgba(0, 0, 0, 0.499);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loading p {
  color: white;
  margin-left: 20px;
  margin-bottom: 0;
}
