.container {
  background: #000;
  height: 500px;
}

/* max-width min-width */
@media screen and (max-width: 1200px) {
  .container {
    background-color: blue;
  }
}
@media screen and (max-width: 992px) {
  .container {
    background-color: red !important;
  }
}
@media screen and (max-width: 719px) {
  .container {
    background-color: green;
  }
}
@media screen and (max-width: 499px) {
  .container {
    background-color: yellow;
  }
}
