body {
  background: #000;
  box-sizing: border-box;
}

.item {
  width: 200px;
  height: 200px;

  animation-name: animate_2;

  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  /* animation-delay: ; */
  /* animation-timing-function: ; */
}
/* 
.item:hover {
  transform: translateY(200px);
} */

@keyframes animate_1 {
  from {
    background: red;

    transform: translateX(0) translateY(0) scale(0.1);
  }
  to {
    background: blue;
    transform: translateX(400px) translateY(400px) scale(1.5);
  }
}

@keyframes animate_2 {
  0% {
    transform: scale(0.2) translateX(0);
    background: red;
  }
  20% {
    background: blue;
  }
  40% {
    transform: scale(0.2) translateX(200px);

    background: green;
  }
  60% {
    background: orange;
  }
  80% {
    transform: scale(0.2) translateX(0px);

    background: purple;
  }
  100% {
    transform: scale(1);
    background: white;
  }
}
