/* page setting */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}
html {
  font-size: 10px;
  line-height: 1.6rem;
}
.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}
body {
  position: relative;
}
/* text setting */
.blog__container .title,
.testimonial .title,
.plan__container .title,
.portfolio .title,
.feature__content .title,
.about__content .title,
.best__container .title,
.carousel__content .title {
  font-weight: 700;
  font-size: 2.2rem;
  color: #f55f8d;
  margin-bottom: 20px;
}
.blog__container .bigtitle,
.testimonial .bigtitle,
.plan__container .bigtitle,
.portfolio .bigtitle,
.feature__content .bigtitle,
.about__content .bigtitle,
.best__container .bigtitle,
.carousel__content .bigtitle {
  font-size: 7rem;
  font-weight: 700;
  line-height: 8rem;
  color: #262626;
  margin-bottom: 20px;
}
.carousel__content .content18 {
  font-size: 1.8rem;
  color: #636363;
  margin-bottom: 15px;
  line-height: 3rem;
}
.feature__content .content16,
.about__content .content16,
.best__item .content16 {
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #636363;
}
.carousel__content .list {
  list-style: none;
  font-size: 2rem;
  color: #636363;
  line-height: 3rem;
}
.feature__content .smalltitle,
.best__item .smalltitle {
  font-size: 2.4rem;
  line-height: 6rem;
}

/* button setting */
.plan__content button,
.about__content button,
.header__container button,
.carousel__content button {
  text-transform: uppercase;
  font-size: 1.5rem;
  padding: 20px 35px;
  border: none;
  border-radius: 30px;
  cursor: pointer;

  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  color: white;
  transition: 0.5s;
}
.plan__content button:hover,
.about__content button:hover,
.header__container button:hover,
.carousel__content button:hover {
  background-position: right;
}
/* header start */
#header {
  position: absolute;
  width: 100%;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
  font-weight: 500;
  height: 150px;
}
.header__container li {
  list-style: none;
  display: inline;
  padding: 55px 15px;
}
.header__container li a {
  color: #070120;
  text-decoration: none;
  transition: color 0.3s;
}
.header__container li a span {
  display: inline-block;
  transition: animation 1s;
}
.header__container li a:hover {
  color: #f55f8d;
}
.header__container li a:hover span {
  animation: upToDown 0.3s;
}
.header__container li i {
  font-size: 1rem;
}

/* header end */
/* ---------------------------------------------------------- */
/* carousel start */
.carousel {
  padding: 180px 0 0 0;
  background-image: url(./image/pic2.png);
  background-position: top;
  background-size: 100%;
  overflow: hidden;
}
.carousel__container {
  display: flex;
}
.carousel__content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}

.carousel__content .list i {
  width: 3.5rem;
  height: 3.5rem;
  background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 100%);
  border-radius: 50%;
  color: white;
  text-align: center;
  line-height: 3.5rem;
  margin-right: 20px;
}
.carousel__content .list li {
  margin-bottom: 20px;
}
.carousel__image img {
  display: block;
  transform: translateX(170px);
}
/* carousel end */

/* best start */
.best {
  padding: 115px 0 0 0;
  text-align: center;
  background-image: url(./image/bg2.png);
  background-position: top;
  background-size: 100%;
}
.best__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.best__item {
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 45px;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}
.best__item:hover {
  transform: translateY(-20px);
}
.best__item img {
  width: 215px;
}
/* best end */

/* about start */
.about {
  padding: 115px 0 85px 0;
  background-image: url(./image/bg15.png);
  background-size: 100%;
  background-position: center right;
  background-repeat: no-repeat;
}
.about__container {
  display: flex;
}
.about__image {
  width: 60%;
  display: flex;
  align-items: center;
}
.about__image img {
  width: 115%;
  border-bottom-right-radius: 100px;
  border-top-right-radius: 100px;
  transform: translateX(-180px);
}
.about__content {
  width: 60%;
}
.about__content ul {
  margin-top: 20px;
}
.about__content li {
  list-style: none;
  line-height: 4rem;
}
.about__content button {
  margin-top: 30px;
}
.about__content li i {
  display: inline-block;
  font-size: 1.6rem;
  line-height: 2.4rem;
  text-align: center;
  width: 24px;
  height: 24px;
  color: #f55f8d;
  border: 1px solid #f55f8d;
  border-radius: 50%;
  margin-right: 10px;
}

/* about end */

/* number start */
.number {
  padding: 80px 0 50px 0;
  background-image: url(./image/bg14.png);
  background-position: center;
  background-repeat: no-repeat;
  padding: 80px 0 50px;
}
.number__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.number__item {
  display: block;
  text-align: center;
}
.number__item i {
  color: white;
  font-size: 45px;
  background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 100%);
  width: 80px;
  height: 80px;
  line-height: 80px;
  display: inline-block;
  border-radius: 50%;
  margin-bottom: 15px;
}
.number__item h2 {
  font-size: 6.5rem;
  font-weight: 700;
  color: #f55f8d;
  line-height: 7rem;
}
.number__item p {
  color: #262626;
  font-size: 1.8rem;
}
/* number end */

/* feature start */
.feature {
  background-image: url(./image/bg2.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  padding-top: 115px;
}
.feature__container {
  display: flex;
}
.feature__content {
  width: 50%;
}
.feature__image {
  width: 50%;
}
.feature__image img {
  width: 110%;
  animation: move2 5s infinite;
}
.feature__tag {
  display: flex;
  align-items: center;
  background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 100%);
  width: 550px;
  padding: 30px 25px;
  border-radius: 10px;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  transition-duration: 1s;
  position: relative;
  z-index: 0;
}
.feature__tag::before {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: white;
  border-radius: 9px;

  position: absolute;
  z-index: -1;
  transition: 1s;
}

.feature__tag.middle {
  margin-left: 50px;
}
.tag__content .smalltitle {
  line-height: 3rem;
  transition: 1s;
}
.feature__tag i {
  font-size: 80px;
  width: 80px;
  margin-right: 25px;
  color: #f55f8d;
  transition: 1s;
}
.feature__tag:hover .content16 {
  transition: 1s;
}
.feature__tag:hover .content16,
.feature__tag:hover .smalltitle,
.feature__tag:hover i {
  color: white;
}
.feature__tag:hover::before {
  background-color: transparent;
}
/* feature end */

/* portfolio start  */
.portfolio {
  padding: 115px 0 0 0;
  color: white;
  background-image: url(./image/bg17.png);
  background-size: cover;
  background-position: top center;
}
.portfolio__container {
  text-align: center;
}
.portfolio__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr;
  gap: 35px;
}
.grid__item .item__overlay .img-name {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 15px;
}
.grid__item .item__overlay .img-author {
  font-size: 1.6rem;
  opacity: 0.7;
}
.portfolio__grid .grid__item {
  position: relative;
  display: block;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.portfolio__grid .grid__item .item__overlay::before {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  display: block;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  transform: skewX(-25deg);
  transition: all 0.75s;
}

.portfolio__grid .grid__item .item__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: 0.5s;
}
.portfolio__grid .grid__item .text__overlay {
  position: absolute;
  display: block;
  left: 30px;
  bottom: -70px;
  text-align: left;
  transition: 0.8s;
}
.zoom-button {
  position: absolute;
  display: flex;
  right: 0px;
  top: 0px;
  background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 100%);
  height: 50px;
  width: 50px;
  border-radius: 10px;
  border: none;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
  transition: 0.8s;
  cursor: pointer;
}
.portfolio__grid .grid__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.portfolio__grid .grid__item.item1 {
  grid-column: 1 / span 2;
}
.portfolio__grid .grid__item.item2 {
  grid-column: 1 / span 2;
  grid-row: 3 / span 1;
}
.portfolio__grid .grid__item.item3 {
  grid-column: 3 / span 1;
  grid-row: 2 / span 2;
}
/* hover */
.portfolio__grid .item__overlay:hover {
  opacity: 1;
}
.portfolio__grid .item__overlay:hover .text__overlay {
  bottom: 30px;
}
.portfolio__grid .item__overlay:hover .zoom-button {
  top: 20px;
  right: 20px;
}
.portfolio__grid .grid__item .item__overlay:hover::before {
  left: 125%;
}

/* portfolio end  */

/* plan start */
.plan {
  text-align: center;
  padding: 115px 0 0 0;
  background-image: url(./image/bg16.png);
  background-size: cover;
  background-position: center;
}
.plan__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.plan__item {
  padding: 35px 60px;
  border: 3px solid transparent;
  border-radius: 8px;
  background-color: white;
  box-shadow: 1px 0 50px rgba(0, 0, 0, 0.1);
  border-image: 100 round;
  transition: 0.5s;
}
.plan__item:hover {
  border-image: url(./image/br.png) 1 round;
}

.plan__item h2 {
  font-weight: 700;
  color: #262626;
  font-size: 3.2rem;
  line-height: 5rem;
}
.plan__item img {
  width: 125px;
}
.plan__item span {
  color: #f8ae56;
  font-size: 50px;
  font-weight: 800;
}
.plan__item h3 {
  line-height: 8rem;
}
.plan__item li,
.plan__item h3 {
  font-size: 18px;
  color: #262626;
}
.plan__item ul {
  text-align: left;
  padding: 15px 0;
  border-top: 1px solid #e1e1f0;
  list-style: none;
}

.plan__item ul li {
  padding: 5px 0;
  line-height: 3rem;
}
.plan__item ul li i {
  font-size: 12px;
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  background-color: #feeff3;
  color: #f55f8d;
  border-radius: 50%;
  margin-right: 15px;
}
/* plan end */

/* testimonial start */
.testimonial {
  text-align: center;
  padding: 115px 0 0 0;
  background-image: url(./image/bg17.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.testimonial-content {
  margin: auto;
  text-align: center;
}

.testimonial-thumbs {
  width: 300px;
  margin: auto;
  box-sizing: border-box;
  height: 170px;
  position: relative;
  overflow: hidden;
}
.testimonial-thumbs .testimonial-pic img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  padding: 5px;
  position: relative;
  z-index: 2;
  background-color: #f55f8d;
}
.testimonial-thumbs::after,
.testimonial-thumbs::before {
  content: "";
  width: 30px;
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 2;
}
.testimonial-thumbs::before {
  left: 0;
  background: linear-gradient(to right, white 0, rgba(255, 255, 255, 0) 100%);
}
.testimonial-thumbs::after {
  right: 0;
  background: linear-gradient(to left, white 0, rgba(255, 255, 255, 0) 100%);
}

.testimonial-comment {
  min-height: 300px;
  width: 100%;
}
.testimonial-comment .swiper-wrapper {
  padding-bottom: 20px;
}
.testimonial-thumbs .testimonial-pic {
  padding: 30px 0 0;
  transition: all 0.5s;
}
.testimonial-thumbs .swiper-slide-thumb-active .testimonial-pic {
  padding: 0 0 40px;
}
.testimonial-pic .shape-bx {
  position: relative;
  height: 35px;
  width: 50px;
  left: 50%;
  background-color: #f55f8d;

  transform: translateX(-50%);
  bottom: 15px;
  opacity: 0;
  transition: 1s;
}
.testimonial-pic .shape-bx::before {
  content: "";
  position: absolute;
  left: -3px;
  top: 0;
  background-image: url(./image/pattern12.png);
  background-position: bottom;
  background-size: cover;
  height: 105%;
  width: 110%;
  transition: 1s;
}
.testimonial-pic::after,
.testimonial-pic::before {
  content: "";
  background-color: #f55f8d;
  border-radius: 50px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
}
.testimonial-pic::before {
  height: 15px;
  width: 15px;
  bottom: 30px;
}
.testimonial-pic::after {
  height: 10px;
  width: 10px;
  bottom: 0;
}
.swiper-slide-thumb-active .testimonial-pic .shape-bx,
.swiper-slide-thumb-active .testimonial-pic::after,
.swiper-slide-thumb-active .testimonial-pic::before {
  opacity: 1;
}
.testimonial-text {
  padding: 30px;
  text-align: center;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.1);
  margin: 20px 100px;
  border-radius: 10px;
  background-color: #fff;
  max-width: 770px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.testimonial-text i {
  position: absolute;
  top: 20px;
  left: 30px;
  font-size: 70px;
  color: #f55f8d;
  transform: rotate(-180deg);
}
.testimonial-text h3 {
  line-height: 3rem;
}
.testimonial-text h3 {
  font-size: 1.8rem;
  color: #f55f8d;
  font-style: italic;
  font-weight: 400;

  margin-bottom: 20px;
  padding: 0;
}
.testimonial-text p {
  font-size: 1.8rem;
  font-weight: 400;
  font-style: italic;
  color: #636363;
  line-height: 3rem;
  padding: 0 15px 15px;
}
.testimonial-name {
  font-size: 2.2rem;
  font-weight: 600;
  color: black;
  line-height: 26px;
  margin-bottom: 5px;
}

.swiper-pagination-bullet-active {
  background: #f55f8d;
}

/* testimonial end */

/* blog start */
.blog {
  text-align: center;
  padding: 115px 0 50px 0;
  background-image: url(./image/bg16.png);
  background-size: cover;
  background-position: top center;
}

.blog__img img {
  display: block;
  width: 100%;
  border-radius: 8px;
}
.blog__item {
  text-align: left;
  /* height: 480px; */
  background: rgba(245, 95, 141, 0.1);
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  width: 100%;
}
.blog__comment {
  text-transform: uppercase;
  font-size: 1.4rem;
  line-height: 2rem;
  color: #636363;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 15px;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.blog__img {
  position: relative;
}
.blog__container .blog__item .time {
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border-radius: 6px;
  padding: 10px 20px;
  font-size: 1.4rem;
  line-height: 2rem;
  text-transform: uppercase;
  color: white;
  position: absolute;
  bottom: 0;
  left: 15px;
  transform: translateY(50%);
}
.blog__container .blog__item .blog__title {
  font-size: 2.4rem;
  line-height: 3rem;
  font-weight: 700;
  color: #262626;
  margin-top: 30px;
  padding: 0 15px;
}
.blog__container .blog__item .blog__detail {
  font-size: 1.6rem;
  line-height: 2.5rem;
  color: #636363;
  padding: 0 15px 90px 15px;
}

.blog__comment i {
  color: #f55f8d;
  font-size: 2rem;
  line-height: 2rem;
  margin-right: 5px;
}
.blog__comment .author {
  line-height: 2rem;
}
.blog__comment .author span {
  color: #f55f8d;
}
.blog__comment .comment {
  margin-left: 20px;
}
/* blog end */

/* subscribe start */
.subscribe__container {
  background-color: #f8ae56;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;

  padding: 50px 60px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 30px 0 rgb(0 0 0 / 10%);
  background-image: url(./image/pattern3.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
}

.subscribe__container h2 {
  font-size: 2.8rem;
  color: #262626;
  line-height: 6rem;
}
.subscribe__container .email {
  display: flex;
}
.subscribe__container .email input {
  padding: 20px;
  font-size: 15px;
  font-weight: 400;
  color: gray;
  background: white;
  width: 100%;
  border-radius: 5px 0 0 5px;
  border: 1px solid white;
  outline: 0;
  transition: all 0.5s;
}
.subscribe__container .email input:focus,
.subscribe__container .email input:hover {
  border-color: #f55f8d;
}
.subscribe__container .email button i {
  transform: rotate(50deg);
}
.subscribe__container .email button {
  padding: 20px 35px;
  font-size: 20px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border-color: transparent;
  transition: 0.5s;
  border-radius: 0 0.5rem 0.5rem 0;
  color: #fff;
  cursor: pointer;
}
.subscribe__container .email button:hover {
  background-position: right center;
}
/* subscribe end */

/* footer start */
footer {
  background-color: #0e1b1f;
  background-size: contain;
  position: relative;
  padding: 240px 0 100px 0;
}
.background::after {
  content: "";
  background-image: url(./image/bg4.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}
.background::before {
  content: "";
  background-image: url(./image/pattern2.png);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}
.subscribe {
  position: absolute;
  width: 100%;
  z-index: 2;
}
.footer__link {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  z-index: 2;
}
.footer__link .links {
  z-index: 2;
}
.info .mini_info {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.info .mini_info p {
  color: white;
  font-size: 1.5rem;
  line-height: 2.5rem;
}
.info .mini_info i {
  width: 40px;
  height: 40px;
  font-size: 1.5rem;
  line-height: 40px;
  text-align: center;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  border-radius: 50%;
  color: white;
  margin-right: 10px;
}

.links h2 {
  color: white;
  font-size: 2.4rem;
  margin-top: 10px;
  margin-bottom: 40px;
  position: relative;
  text-shadow: 0 0 5px black;
}
.links h2::after,
.links h2::before {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 10px;
  height: 3px;
  border-radius: 20px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
}
.links h2::after {
  width: 20px;
}
.links h2::before {
  left: 25px;
  width: 50px;
}

.links ul {
  list-style: none;
}
.links ul li {
  margin: 15px 0;
}
.links ul li a {
  text-decoration: none;
  font-size: 1.6rem;
  color: #636363;
  line-height: 2.5rem;
  transition: 0.3s;
}
.links ul li a i {
  margin-right: 10px;
}
.links ul li a:hover {
  color: white;
}

.footer__copyrights {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  color: white;
  background-color: #1f343b;
}
.footer__copyrights .container {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-between;
}
.copyrights__text span {
  color: #f55f8d;
}
.copyrights__text {
  font-size: 1.5rem;
}
.copyrights__icon i {
  color: white;
  font-size: 14px;
  width: 30px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.1);
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
}
.copyrights__icon i:hover {
  background-color: #f55f8d;
}
/* footer end */

/* back to top button */
#totop__btn {
  width: 50px;
  height: 50px;
  background: #f55f8d;
  border-radius: 8px;
  text-align: center;
  line-height: 50px;
  display: none;
  position: fixed;
  right: 15px;
  bottom: 15px;
  color: white;
  box-shadow: -4px 4px 24px -10px #f55f8d;
  z-index: 3;
  /* transition: 0.5s ease-in-out; */
}
#totop__btn i {
  font-size: 1.5rem;
}
/* Effect */
@keyframes upToDown {
  49% {
    transform: translateY(100%);
  }
  50% {
    opacity: 0;
    transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}
@keyframes move2 {
  0% {
    transform: rotate(1deg) translate(2px, 2px);
  }
  50% {
    transform: rotate(-1deg) translate(-2px, -2px);
  }
  100% {
    transform: rotate(1deg) translate(2px, 2px);
  }
}
