* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.content__container {
  margin-top: 20px;
}

.content__container .nav-link {
  margin-top: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  transition: 0.15s;
}
.content__container .nav-link:hover {
  background-color: #e1e2e1;
}

.content__container .nav-link.active {
  background-color: #01579b;
}
.content__container .nav-link.active:hover {
  background-color: #01579b;
}

.tabs_page {
  border: none;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 10px;
  overflow: hidden;
}
.tabs_page__header {
  background-color: #01579b;
  color: white;
  width: 100%;
}
.tabs_page__header h2 {
  line-height: 50px;
  margin-left: 20px;
  margin-bottom: 0;
}
.tabs_page__content {
  padding: 10px 30px;
}
.tabs_page__content h3 {
  margin-top: 10px;
}
.tabs_page input {
  padding-left: 10px;
  border-radius: 5px;
  border: 1px solid gray;
  line-height: 30px;
  margin-bottom: 5px;
}
.tabs_page__content button {
  margin-top: 10px;
}
.tabs_page .result {
  line-height: 30px;
}

.number__row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tabs_page__content .row {
  padding: 10px 0;
}
.tabs_page__content ul {
  list-style: none;
}
