// mixin = function, goi function = @include
@mixin BoxShadow($base) {
    box-shadow: $base * 1px $base * 1px $base * 2px $color-white-1, -$base * 1px -$base * 1px $base * 2px $color-white-3;
}

@mixin Responsive($breakpoint) {
    @if $breakpoint == MD {
        @media screen and (min-width: $MD) {
            @content;
        }
    } @else if $breakpoint == LG {
        @media screen and (min-width: $LG) {
            @content;
        }
    } @else if $breakpoint == XL {
        @media screen and (min-width: $XL) {
            @content;
        }
    }
}
