.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background-color: #f5f9fe;
  box-shadow: 0 2px 4px #e2ebfc;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .logo {
  color: #2a73dd;
  font-size: 40px;
}
header .container nav a {
  color: #1d365e;
  font-size: 18px;
  transition: 0.3s;
  position: relative;
}
header .container nav a:hover {
  color: #2a73dd;
}
header .container nav a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: #2a73dd;
  bottom: -2px;
  left: 50%;
  transition: 0.3s;
}
header .container nav a:hover::before {
  width: 100%;
  left: 0;
}

.banner {
  background-image: url(../image/product-header-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}
.banner .intro h2 {
  font-size: 60px;
  color: #2a73dd;
}
.banner .intro h3 {
  font-size: 30px;
  color: #1d365e;
}

.products {
  padding: 80px 0px;
}
.products h2.title {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
  color: #1d365e;
}
.products .list .item {
  box-shadow: 6px 6px 12px #e2ebfc, -12px 12px #fff;
  border-radius: 8px;
  padding: 30px;
}
.products .list .item .wrapper img {
  box-shadow: 6px 6px 12px #e2ebfc, -12px 12px #fff;
  border-radius: 8px;
}
.products .list .item .wrapper .desc {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.products .list .item .wrapper .desc .item__price {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.products .list .item .wrapper .desc .item__title i {
  color: #f9d412;
}

@media screen and (min-width: 1280px) {
  .products h2.title {
    color: red;
  }
}/*# sourceMappingURL=index.css.map */