* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.body {
  background-color: #f6f6f6;
}
.clear {
  clear: both;
}
/* -- header start -- */
.header {
  padding-left: 150px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.h_icon {
  background-color: #002146;
  color: #fec900;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 20px;
  float: left;
  margin-right: 10px;
}

.header h1 {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 40px;
  margin-bottom: 10px;
  color: #0e0e0e;
}

.menu {
  margin-left: 20px;
}

.menu a {
  color: #002146;
  text-decoration: none;
  margin-right: 30px;
}

/* -- header end -- */
/* ----------------------------------------------- */
/* -- carousel start -- */
.carousel {
  height: 80vh;
  background-image: url(./images/2.jpg);
  background-size: cover;
}
/* -- carousel end -- */
/* ----------------------------------------------- */
/* -- wellcome panel start -- */

.wellcome_panel {
  padding: 50px 0;
}
.wellcome_panel__box {
  width: fit-content;
  margin: 0 auto;
}
.wellcome_panel .info {
  width: 35vw;
  float: left;
  margin-right: 80px;
}
.wellcome_panel .info h2 {
  text-transform: capitalize;
  font-size: 30px;
  margin-bottom: 18px;
}
.wellcome_panel .info p {
  font-size: 14px;
  color: gray;
  margin-bottom: 30px;
  line-height: 20px;
}
.wellcome_panel .info button {
  width: 130px;
  height: 40px;
  font-weight: 700;
  font-size: 14px;
  background-color: #fec900;
  border: none;
  border-radius: 5px;
}
.wellcome_panel img {
  height: 50vh;
  max-height: 500px;
}
/* -- wellcome panel end -- */
/* ----------------------------------------------- */
/* -- number pannel start -- */
.number_panel {
  background-color: #f6f6f6;
  width: 100%;
  height: 180px;
}
.number_panel_box {
  width: 1000px;
  margin: 0 auto;
  padding: 60px 0;
}
.number_panel__info {
  width: 200px;
  height: 60px;
  float: left;
  color: #212529;
  margin-left: 40px;
}
.number_panel__info .numb {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
  width: 68px;
  float: left;
}
.number_panel__info .text {
  text-transform: uppercase;
  width: 200px;
  padding: 10px 0;
  font-size: 15px;
  line-height: 20px;
}
/* -- number pannel end -- */
/* ----------------------------------------------- */
/* -- icon grid start -- */
.icon_grid table {
  margin: 80px auto;
}
.icon_grid td {
  border: 12px solid transparent;
}
.icon_grid .cell {
  display: table-cell;
  color: white;
  font-size: 14px;
  background-color: #002146;
  width: 230px;
  height: 130px;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
  font-weight: 300;
}
.icon_grid .cell i {
  font-size: 36px;
}
/* -- icon grid end -- */
/* ----------------------------------------------- */
/* -- event_post start -- */
.event_post {
  background-color: #f6f6f6;
  height: 700px;
  padding: 60px 150px;
  color: #1b1d2d;
}
.viewall {
  height: 40px;
  width: 110px;
  border: none;
  border-radius: 5px;
  background-color: #fec900;
  float: right;
}
.center {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.latest_post {
  width: 50%;
  float: left;
  display: inline;
}
.upcoming_event {
  width: 45%;
  float: right;
  display: inline;
}
.event_post h2 {
  margin-bottom: 40px;
  font-size: 28px;
}
.post_pannel {
  background-color: white;
  margin-bottom: 20px;
}
.post {
  width: 100%;
  height: 150px;
  padding: 20px 15px;
}
.post_info {
  width: 60%;
  float: left;
}
.title {
  font-size: 16px;
  text-transform: capitalize;
}
.post_info h4 {
  font-size: 14px;
  font-weight: 500;
  color: #929292;
  margin: 10px 0;
}
.details {
  font-size: 14px;
  color: #565656;
}
.latest_post .image {
  width: 30%;
  height: 100%;
  margin-right: 15px;
  float: left;
}
.latest_post .image img {
  width: 100%;
  height: 100%;
  max-height: 110px;
  border-radius: 5px;
  object-fit: cover;
}
.border_line {
  width: 94%;
  height: 1px;
  background-color: #f6f6f6;
  margin: 0 auto;
}
.event {
  width: 100%;
  height: 180px;
  background-color: white;
  margin-bottom: 20px;
}
.calendar {
  height: 100%;
  width: 30%;
  float: left;
  font-family: Arial, Helvetica, sans-serif;
}
.upper-cal {
  width: 80px;
  height: 70px;
  margin: 0 auto;
  margin-top: 20px;

  background-color: #fec900;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  text-align: center;
  padding: 8px;
}
.date {
  font-size: 30px;
  font-weight: 900;
}
.month {
  font-size: 14px;
}
.lower-cal {
  width: 80px;
  height: 32px;
  margin: 0 auto;
  background-color: #002146;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  color: white;
  font-size: 14px;
  padding: 8px;
  text-align: center;
}
.event-info {
  height: 100%;
  width: 65%;
  float: left;
  padding-top: 16px;
  text-align: justify;
}
.time-place {
  font-size: 14px;
  line-height: 24px;
  color: #002146;
}
.space {
  font-size: 24px;
  margin: 0 5px;
  color: #d1d1d1;
}
/* -- event_post end -- */
/*__________________________________________________________  */
/* footer start */
.footer {
  height: 400px;
  width: 100%;
  background-color: #002146;
  color: white;
  padding-top: 50px;
}
.contact {
  width: 1200px;
  height: 230px;
  margin: 0 auto;
  border-bottom: 1px solid #565656;
  margin-bottom: 30px;
}
.contact-us {
  width: 40%;
  height: 100%;
  float: left;
  padding-right: 30px;
}
.contact-us p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 8px;
}
.contact-us i {
  color: #fec900;
  margin-right: 10px;
}
.featured-link {
  width: 30%;
  height: 100%;
  float: left;
}
.featured-link li,
.quick-link li {
  list-style: none;
}
.featured-link a,
.quick-link a {
  text-decoration: none;
  color: white;
  line-height: 30px;
  font-size: 14px;
}
.quick-link {
  width: 30%;
  height: 100%;
  float: left;
}
.copyrights {
  width: 1200px;
  margin: 0 auto;
  font-size: 14px;
}
/* footer end */
