* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  scroll-behavior: smooth;
  transition: 0.15s;
}
/* html {
  font-size: 18px;
} */

body {
  background-image: url(./image-video/bussiness_img_1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}
.black__title .title1 {
  color: #e62b4a;
  font-size: 14px;
}
.black__title .title2 {
  color: white;
  font-size: 50px;
  width: 80%;
  margin: 0 auto;
}
.black__title .title3 {
  color: #888888;
  font-size: 16px;
  font-weight: 700;
  margin: 20px 0;
}
/* start header */

header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  z-index: 3;
}

.header__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}

.header__container nav a {
  color: white;
  margin-right: 55px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  transition: 0.3s;
}
.header__container nav a:hover {
  color: #e62b4a;
}
.header__container .active {
  color: #e62b4a;
}

.header__container .logo {
  color: white;
  font-weight: 700;
  font-size: 2rem;
  text-decoration: none;
}

/* trục chính : mặc định là chiều ngang

justify-content: trục chính

align-item : trục phụ

trục chính : justify-content
*/
/* end header */

/* start carousel */

.carousel {
  height: 100vh;
  min-height: 500px;
  background-image: url(./image-video/home_slider.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.carousel__container {
  width: 60%;
  height: max-content;
  text-align: center;
  color: white;
}
.carousel__container h2 {
  font-size: 5rem;
  /* margin: 20px 0; */
  font-weight: 700;
  line-height: 100px;
}
.carousel__container p {
  font-size: 1.5rem;
}

.carousel__container button {
  width: 150px;
  height: 50px;
  background: #e62b4a;
  border: none;
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
  cursor: pointer;
}

.carousel__container button:hover {
  background-color: rgb(200, 3, 34);
}

.carousel__container i {
  margin-top: 20px;
  font-size: 2rem;
  animation-name: animate_arrow;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
/* end carousel */

/* start service */
.service {
  padding: 80px 0;
  background-color: black;
  text-align: center;
  z-index: 2;
}
.service .slider__item {
  height: 270px;
  padding: 15px;
}
.item__wrapper {
  background-color: white;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  color: #888888;
}
.item__wrapper i {
  font-size: 60px;
  margin-bottom: 5px;
}
.item__wrapper::after {
  content: "";
  display: block;
  position: absolute;
  height: 0;
  width: 5px;
  background-color: red;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.3s;
}
.item__wrapper:hover::after {
  height: 100%;
}
.service .service__slider {
  width: 100%;
}
/* slider button */
.slick-dots li button:before {
  color: white;
  font-size: 10px;
}
.slick-dots li.slick-active button:before {
  color: #e62b4a;
}

/* end service */
/* start blog */
.blog {
  padding: 80px 0;
  background-color: white;
  text-align: center;
  z-index: 1;
}
.blog__title1 {
  font-size: 14px;
  color: #888888;
}
.blog__title2 {
  font-size: 50px;
}
.blog__title3 {
  color: #888888;
  font-size: 16px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 50px;
}
.blog__list {
  width: 100%;
  /* background: red; */
  /* aspect-ratio: 1/1; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}
.blog__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  filter: grayscale(50%) contrast(50%);
}
.blog__item {
  position: relative;
}
.item__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(230, 43, 74, 0.6);
  opacity: 0;
  transition: 0.6s;
}
.blog__item:hover .item__overlay {
  opacity: 1;
}
.item__overlay .search {
  width: 50px;
  height: 50px;
  background: white;
  position: absolute;
  top: 60px;
  right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* z-index: 1; */
  transition: 0.6s;
  color: black;
}
.blog__item:hover .search {
  top: 30px;
}
.item__overlay .search:hover {
  background: black;
  color: white;
}
.overlay__title {
  color: white;
  position: absolute;
  left: 30px;
  bottom: 0px;
  transition: 0.6s;
}
.blog__item:hover .overlay__title {
  bottom: 30px;
}
.blog__item1 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}
.blog__item10 {
  grid-column: 3 / span 2;
  grid-row: 3 / span 2;
}
/* end blog */

/* start number */
.number {
  background-color: black;
  display: flex;
  height: 300px;
  align-items: center;
  z-index: 2;
}
.number__list {
  display: flex;
  justify-content: space-around;
  text-align: center;
  width: 100%;
}
.number__item {
  /* width: 100%; */
  margin: 0 auto;
}
.number__number {
  font-size: 3rem;
  color: white;
  font-weight: 300;
}
.number__title {
  font-size: 20px;
  color: #888888;
  text-transform: uppercase;
}
/* end number */
/* start experience */
.experience {
  text-align: center;
  padding: 80px 0;
  z-index: 1;
}
.experience video {
  margin-top: 20px;
  width: 90%;
}
/* end experience */
/* start contact */
.contact {
  background-color: white;
  padding: 80px 0;
  text-align: center;
  width: 100%;
}
.contact__title1 {
  font-size: 50px;
}
.contact__title2 {
  color: #888888;
  margin-top: 20px;
  margin-bottom: 30px;
}
.contact__info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 400px;
  width: 100%;
}
.contact__personal {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 100%;
  width: 30%;
}
.map {
  height: 100%;
  width: 50%;
}
.contact__personal input {
  height: 40px;
  padding: 15px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
.contact__personal textarea {
  padding: 15px;
  font-size: 14px;
  font-family: "Courier New", Courier, monospace;
}
.contact__personal button {
  height: 60px;
  font-size: 15px;
  border: none;
  background-color: black;
  color: white;
  font-family: "Roboto", sans-serif;
  transition: 0.3s;
}
.contact__personal button:hover {
  background-color: #e62b4a;
}
/* end contact */
/* footer start */
footer {
  background-color: black;
  color: white;
  height: 200px;
  display: flex;
  align-items: center;
  z-index: 2;
}
.footer__container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social_media {
  display: flex;
  gap: 10px;
}
.social_media__item {
  height: 50px;
  width: 50px;
  border: none;
  border-radius: 30px;
  background-color: #3d3d3d;
  text-align: center;
  line-height: 50px;
}
.social_media__item a {
  color: white;
}

/* footer end */
/* back to top button */
.back-to-top {
  bottom: 20px;
  right: 20px;
  border-radius: 8px;
  background-color: rgba(128, 128, 128, 0.43);
  position: fixed;
  width: 50px;
  height: 50px;
  color: white;
  text-align: center;
  line-height: 50px;
}
@keyframes animate_arrow {
  from {
    transform: translateY(0px);
    opacity: 1;
  }
  to {
    transform: translateY(100px);
    opacity: 0;
  }
}
