.header {
  padding: 100px;
  background-color: green;
  position: relative;
}
.container {
  background-color: black;
  height: 500px;
  width: 100%;
}

.item-1 {
  height: 200px;
  width: 200px;
  background-color: red;
  position: absolute;
  bottom: 0;
  right: 0;
}

.item-2 {
  height: 200px;
  width: 200px;
  background-color: blue;
  margin: auto;
  /* position: absolute;
    bottom: 50%;
    right: 50%; */
}
