#logo {
  width: 100px;
}

#title {
  background-color: red;
  color: white;
}

.header-link {
  font-size: 20px;
}

.info-div {
  color: white;
  background-color: brown;
}

.head-title {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

#gioi-thieu__noi-dung {
  font-size: 30px;
  text-align: justify;
}

.nhan-manh {
  color: black;
  font-weight: bold;
  font-style: italic;
}

.img {
  width: 50%;
}

.list {
  font-size: 25px;
}

.title-black {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.title-news {
  text-align: center;
  font-size: 40px;
  color: #a52a2a;
}

.news__body {
  background-color: white;
  font-size: 20px;
  width: 60%;
}
