.item {
  border: 1px solid blue;
  background-color: red;
  /* width: 30px;
  height: 30px; */
}
.container {
  display: grid;
  height: 500px;
  width: 500px;
  grid-template-columns: auto auto auto auto;
  gap: 20px;
}
.big {
  grid-row: 1 / span 2;
  grid-column: 1 / span 2;
}
